<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>teacher</h1>
  </body>
</html>
=======
<h1>teacher</h1>
>>>>>>> 1b5ea3f4e07e24826392b11fa7e8980b55bb038b
