<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dashboard</h1>
    <p>Welcome to your dashboard!</p>
  </body>
</html>
=======
<h1>teacher</h1>
>>>>>>> 96a76ed5a86cd50526c54f4d78727f44290fa5a4
